<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        [(ngModel)]="textFilter"
        (keyup)="getThoughtsList()"
        autofocus
      />
      <img src="imagens/lupa.png" alt="Imagem lupa azul" />
    </div>
    <h2 class="ff-inter">
      {{ title }} <br />
      Texto filtrado: {{ textFilter }}
    </h2>

    <div class="botoes">
      <button class="botao" (click)="desactiveGetOnlyFavorites()">Todos pensamentos</button>
      <button class="botao" (click)="activeGetOnlyFavorites()">Meus favoritos</button>
      <button routerLink="/criar-pensamento" class="botao">
        Adicionar pensamento
      </button>
    </div>

  </header>

  <div class="mural" *ngIf="thoughtsList.length > 0; else noThoughts">
    <div *ngFor="let thought of thoughtsList">
      <app-card-thoughts
        (updateList)="getThoughtsList()"
        [shouldUpdate]="getOnlyFavorites"
        [thought]="thought"
      ></app-card-thoughts>
    </div>
  </div>
</section>
<app-button-load-more
  [hasMoreItems]="hasMoreItems"
  (click)="loadMoreThoughts()"
></app-button-load-more>

<ng-template #noThoughts>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
